.Meaning h3 {
  margin: 20px;
  font-weight: bold;
}

.Meaning p {
  margin: 0 50px;
}

.Meaning-Definition {
  font-size: 20px;
}

.Meaning .example {
  font-size: 15px;
  opacity: 0.7;
  font-style: italic;
}
