.Results h1 {
  margin: 20px;
  text-transform: capitalize;
  text-decoration: underline;
}

.Results h1,
h4 {
  text-align: center;
}

.Results h4 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  opacity: 0.5;
}
